openapi: 3.2.0
info:
  title: Codeberg API (Forgejo) Organizations API
  description: Core subset of the Forgejo/Gitea-compatible REST API exposed by Codeberg, the community-run non-profit Git hosting platform, at https://codeberg.org/api/v1.
  version: 15.0.0
  contact:
    name: Codeberg
    url: https://codeberg.org
  license:
    name: MIT (Forgejo software)
    url: https://forgejo.org/
servers:
- url: https://codeberg.org/api/v1
  description: Codeberg production
security:
- AuthorizationHeaderToken: []
tags:
- name: Organizations
  description: Get and manage organizations and their repositories.
paths:
  /orgs/{org}:
    get:
      operationId: orgGet
      tags:
      - Organizations
      summary: Get an organization
      parameters:
      - $ref: '#/components/parameters/org'
      responses:
        '200':
          description: The requested organization.
    patch:
      operationId: orgEdit
      tags:
      - Organizations
      summary: Edit an organization
      parameters:
      - $ref: '#/components/parameters/org'
      responses:
        '200':
          description: The updated organization.
  /orgs/{org}/repos:
    get:
      operationId: orgListRepos
      tags:
      - Organizations
      summary: List an organization's repos
      parameters:
      - $ref: '#/components/parameters/org'
      responses:
        '200':
          description: A list of repositories.
    post:
      operationId: createOrgRepo
      tags:
      - Organizations
      summary: Create a repository in an organization
      parameters:
      - $ref: '#/components/parameters/org'
      responses:
        '201':
          description: The created repository.
components:
  parameters:
    org:
      name: org
      in: path
      required: true
      description: Name of the organization.
      schema:
        type: string
  securitySchemes:
    AuthorizationHeaderToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Personal access token. Must be prepended with the word "token" followed by a space, e.g. `Authorization: token YOUR_TOKEN`.'
